.firstpage {
    text-align: center;
    color: grey;
    font-size: 1.5em;
    padding: 2em;
}

.description {
    font-size: 0.6em;
}

[class*="scan-"] {
    position: absolute;
    left: 10px;
    right: 10px;
    margin: auto;
    padding: 2em;
    font-size: 0.7em;
    background-color: white;
    border-radius: 10px;
}

.scan-instruction {
    top: 10px;
}

.scan-actionbtns {
    bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}